/****************/
/* HERO SECTION */
/***************/

.hero-section {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  padding: 2rem 0 6rem;
}

.hero-section__photo {
  width: 45rem;
  transition: all 0.6s;
}

.hero-section__left {
  overflow: hidden;
}

.hero-section__photo:hover {
  transform: scale(1.05);
}

.hero-section__right {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

/* .hero-section h1 {
  margin-bottom: 4rem;
  text-align: right;
  font-size: 9.8rem;
  font-family: "Ephesis", cursive;
  font-weight: lighter;
} */

h2 .hero-section  {
  margin-bottom: 3.2rem;
  text-align: right;
  line-height: 1.6;
}

.hero-section blockquote {
  display: block;
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  text-align: right;
  line-height: 4rem;
  color: #616161;
  flex: 1;
  font-style: italic;
}

.hero-section cite {
  display: block;
  font-size: 2.2rem;
}

