.hero {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  padding: 2rem 0 6rem;
}

.hero__photo {
  width: 100%;
  transition: all 0.6s;
}

.hero__left {
  overflow: hidden;
  width: 33%;
}

.hero__photo:hover {
  transform: scale(1.05);
}

.hero__right {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  text-align: right;

  flex: 1;
}

.cursive-name {
  width: 65%;
  display: block;
  margin-left: auto;
}

.hero__right--heading-text {
  margin-bottom: 3.2rem;
  font-size: 3vw;
  line-height: 1.6;
}

.hero__right--quote {
  display: block;
  margin-bottom: 2.4rem;
  font-size: 1.8vw;
  line-height: 2.5vw;
  color: #616161;
  flex: 1;
  font-style: italic;
}

.hero cite {
  display: block;
  font-size: 1.8vw;
}
