/* Below 1344px (Small Desktops)*/

@media (max-width: 1344px) {
  .full-width-container {
    max-width: 110rem;
  }

  .page-header {
    padding: 0 6.6rem;
  }
  .hero__photo {
    width: 40rem;
  }

  .hero__right img {
    width: 40rem;
    display: block;
    margin-left: auto;
  }
  .hero__right--heading-text {
    font-size: 3.8rem;
  }
  .hero__right--quote {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  .start-lessons:link,
  .start-lessons:visited,
  .contact-form__submit-btn span {
    width: 18rem;
    height: 6rem;
    font-size: 2rem;
  }
}

/* Below 1200px(Landscape Tablets)*/

@media (max-width: 75em) {
  .full-width-container {
    max-width: 90rem;
  }
  h1 {
    font-size: 7.2rem;
  }
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  .hero__photo {
    width: 36rem;
  }
  .page-header__logo-text {
    font-size: 1.6rem;
  }
  .page-header nav ul {
    font-size: 1.6rem;
    gap: 4rem;
  }
}
/*Below 944px(Tablets)*/

@media (max-width: 59em) {
  body {
    font-size: 1.6rem;
    overflow-x: hidden;
  }

  .page-header {
    position: relative;
  }

  .page-header nav ul {
    gap: 1rem;
  }

  .full-width-container {
    max-width: 80rem;
  }

  .header__logo {
    height: 1.2rem;
  }

  .page-header {
    padding: 0 4.6rem;
  }
  .hero__photo {
    width: 30rem;
  }

  .hero__right img {
    width: 30rem;
    display: block;
    margin-left: auto;
  }
  .hero__right--heading-text {
    font-size: 3rem;
  }
  .hero__right--quote {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .hero cite {
    font-size: 1.8rem;
  }

  .start-lessons:link,
  .start-lessons:visited,
  .contact-form__submit-btn span {
    width: 14rem;
    height: 5rem;
    font-size: 1.6rem;
  }

  h3 {
    font-size: 3.4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  h4 {
    font-size: 2.2rem;
    padding-top: 2.8rem;
  }

  .teaching-experience h4 {
    padding-bottom: 1rem;
  }

  .teaching-icon {
    width: 3.8rem;
    height: 3.8rem;
  }

  .card ul {
    padding: 1rem 2rem 2rem 1rem;
  }
  .card li {
    background-size: 2.2rem;
    margin-bottom: 0.8rem;
  }

  .testimonials article {
    padding: 2rem 5rem 1rem 5rem;
    gap: 4.2rem;
  }

  .biography-box {
    gap: 2rem;
  }
  #bio h3 {
    padding-bottom: 2rem;
  }
}

/* Below 720px(Smaller Tablets) */

@media (max-width: 45em) {
  /*Mobile navigation*/

  .btn-mobile-nav {
    position: fixed;
    display: flex;
    top: 1rem;
    right: 1rem;
    z-index: 500;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid hsla(29, 100%, 58%, 0.5);
    border-radius: 0.5rem;
  }

  .mobile-menu-icon {
    width: 4.2rem;
    height: 4.2rem;
  }

  nav {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.961);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .nav-open nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .page-header {
    height: 5rem;
  }

  .page-header nav ul {
    flex-direction: column;
    gap: 4.8rem;
    font-size: 2.6rem;
  }

  .nav-open .close-icon[name="menu-close"] {
    display: block;
  }

  .nav-open .mobile-menu-icon {
    display: none;
  }

  body {
    font-size: 1.4rem;
  }
  .full-width-container {
    max-width: 70rem;
  }

  .header__logo {
    height: 1.2rem;
  }

  .page-header {
    padding: 0 3rem;
  }

  .hero {
    padding-bottom: 3rem;
  }
  .hero__photo {
    width: 25rem;
  }

  .hero__right img {
    width: 27rem;
    display: block;
    margin-left: auto;
  }
  .hero__right--heading-text {
    font-size: 2.2rem;
  }
  .hero__right--quote {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .hero cite {
    font-size: 1.6rem;
  }

  .start-lessons:link,
  .start-lessons:visited,
  .contact-form__submit-btn span {
    width: 12rem;
    height: 4rem;
    font-size: 1.4rem;
  }

  h3 {
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  h4 {
    font-size: 2.1rem;
    padding-top: 2.6rem;
  }

  .teaching-experience h4 {
    padding-bottom: 0.8rem;
  }

  .teaching-icon {
    width: 3.6rem;
    height: 3.6rem;
  }

  .card ul {
    padding: 1rem 2rem 2rem 1rem;
  }
  .card li {
    background-size: 2rem;
    margin-bottom: 0.4rem;
  }

  .testimonials article {
    padding: 2rem 5rem 1rem 5rem;
    gap: 4.2rem;
  }

  .biography-box {
    gap: 2rem;
  }
  #bio h3 {
    padding-bottom: 2rem;
  }

  .testimonials img {
    height: 10rem;
  }

  .contact-form__img img {
    display: none;
  }

  .contact-form__img {
    width: 0;
  }

  .contact-form__submit-btn span {
    line-height: 4rem;
  }

  .page-footer {
    padding: 2.2rem 3rem 2.2rem;
    line-height: 2.2rem;
    font-size: 1.2rem;
    gap: 3rem;
  }

  .page-footer__copyright {
    font-size: 1.2rem;
  }
}
