/* Below 1344px (Small Desktops)*/

@media (max-width: 1344px) {
  .full-width-container {
    max-width: 110rem;
  }

  .page-header {
    padding: 0 6.6rem;
  }
  .hero__photo {
    width: 40rem;
  }

  .hero__right img {
    width: 40rem;
    display: block;
    margin-left: auto;
  }
  .hero__right--heading-text {
    font-size: 3.8rem;
  }
  .hero__right--quote {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  .start-lessons:link,
  .start-lessons:visited,
  .contact-form__submit-btn span {
    width: 18rem;
    height: 6rem;
    font-size: 2rem;
  }
}

/* Below 1200px(Landscape Tablets)*/

@media (max-width: 75em) {
  .full-width-container {
    max-width: 90rem;
  }
  h1 {
    font-size: 7.2rem;
  }
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  .hero__photo {
    width: 36rem;
  }
  .page-header__logo-text {
    font-size: 1.6rem;
  }
  .page-header nav ul {
    font-size: 1.6rem;
    gap: 4rem;
  }
}
